<div class="row">
    <div class="col-md-8">
        <h4>My dinner for {{dinnerService.numberOfGuests}} people</h4>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" type="button" routerLink='/search'>Go back and edit dinner</button>
    </div>
</div>
<hr />
<div class="row">
    <div *ngFor='let item of dinnerService.menu' class="col-md-3">
        <img src='{{item.image}}'/>
        <h6>{{item.title}}</h6>
        <em>{{item.price*dinnerService.numberOfGuests}} SEK</em>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <strong>Total cost: {{dinnerService.menuPricePerServing*dinnerService.numberOfGuests}} SEK</strong>
    </div>
    <div class="col">
        <button class="btn btn-primary" type="button" routerLink='/print'>Print full recipe</button>
    </div>
</div>