/* You can add global styles to this file, and also import other style files */
body{
    background-color: bisque;
}

.jumbotron{
    background-color: azure;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: azure;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
