<div class="row">
	<div class="col-9">
		<h2>{{dishDetails.title}}</h2>
	</div>
	<div class="col-3">
		<button class="btn btn-primary" type="button" routerLink='/search'>Back to search</button>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<img src='{{dishDetails.image}}' />
		<p>{{dishDetails.description}}</p>
		<hr />
		<div class="row">
			<div class="col-8">
				<em>Price per serving</em>
			</div>
			<div class="col-4">
				<p>{{dishDetails.price}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-8">
				<em>Price for {{dinnerService.numberOfGuests}} people</em>
			</div>
			<div class="col-4">
				<p>{{dishDetails.price*dinnerService.numberOfGuests}}</p>
			</div>
		</div>
		<hr />
		<button class="btn btn-primary" type="button" (click)='addOrRemove(dishDetails)'>{{addOrRemoveText}}</button>
	</div>
	<div class="col-md-6">
		<h5>Ingredients</h5>
		<hr />
		<div class="row">
			<div class="col-3">
				<strong>Quantity</strong>
			</div>
			<div class="col-3">
				<strong>Unit</strong>
			</div>
			<div class="col-6">
				<strong>Ingredient</strong>
			</div>
		</div>
		<div *ngIf='ingredients'>
			<div *ngFor='let ingr of ingredients' class="row">
				<div class="col-3">
					<p>{{ingr.amount}}</p>
				</div>
				<div class="col-3">
					<p>{{ingr.unit}}</p>
				</div>
				<div class="col-6">
					<p>{{ingr.name}}</p>
				</div>
			</div>
		</div>
	</div>
</div>