<div class="row">
	<div class="col-9">
		<h2>{{dishDetails.title}}</h2>
	</div>
	<div class="col-3">
		<button class="btn btn-primary" type="button" routerLink='/search'>Back to search</button>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<img width="240" src='{{dishDetails.image}}' />
		<p>{{dishDetails.description}}</p>
		<hr />
		<div class="row">
			<div class="col-8">
				<em>Price of dish</em>
			</div>
			<div class="col-4">
				<p>{{dishDetails.price}}</p>
			</div>
		</div>
		<hr />
		<button class="btn btn-primary" type="button" (click)='addOrRemove(dishDetails)'>{{addOrRemoveText}}</button>
	</div>
	<div class="col-md-6">
		<h5>Ingredients</h5>
		<hr />
		<div class="row">
			<div class="col-3">
				<strong>Quantity</strong>
			</div>
			<div class="col-3">
				<strong>Unit</strong>
			</div>
			<div class="col-6">
				<strong>Ingredient</strong>
			</div>
		</div>
		<div *ngIf="dishDetails.ingredients===[]" class="row">
			<div class="col-3">
				<p>Q</p>
			</div>
			<div class="col-3">
				<p>U</p>
			</div>
			<div class="col-6">
				<p>I</p>
			</div>
		</div>
	</div>
</div>