<h3>Dishes</h3>
<input type="text" placeholder="Enter a food you would like" (keyup)="textChanged($event)">
<select name="dishType" (change)="typeChanged($event.target.value)">
	<option *ngFor="let dishType of dishTypes" [value]="dishType.apiName">{{dishType.displayName}}</option>
</select>
<button (click)="search()" >Search</button>

<ul>
	<div *ngIf="dishes">
		<li *ngFor="let dish of dishes">
			{{dish.title}}
		</li>
	</div>
	<div *ngIf="status == 'INITIAL'">
		<em>Loading...</em>
	</div>
	<div *ngIf="status == 'ERROR'">
		<b>Failed to load data, plese try again</b>
	</div>
</ul>